body
{
    background:#fff;
    color:#333;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-top:80px;
    font-size:16px;
}

.margin-top-10
{
    margin-top:10px;    
}

a
{
    color:#333;
    cursor:pointer;
}

a:hover
{
    color:#b3b3b3;
    text-decoration:none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 50px 0;
    padding: 0;
}

.header
{
    max-width:800px;
    margin:0px auto;
    text-align:center;
}

.logo
{
    font-size:80px;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
}

.blog-description
{
    margin:30px 0;
    font-size:13px;
    text-transform: uppercase;
    color:#b3b3b3;
    letter-spacing: 4px;
}

.content
{
    max-width:800px;
    margin:0px auto;
    margin-top:100px;
}

.article
{
    text-align:center;
    margin-bottom:100px;
}

.archive
{
    margin-bottom:20px;
}

.article-title
{
    font-size:32px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
}

.archive-title
{
    font-size:32px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    text-align:left;
}

.archive-title span
{
    font-size:13px;
    text-transform: uppercase;
    color:#b3b3b3;
    letter-spacing: 4px;
    font-weight:normal;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.article-date
{
    margin:30px 0;
    font-size:13px;
    text-transform: uppercase;
    color:#b3b3b3;
    letter-spacing: 4px;
}

.article-text
{
    line-height:26px;
    text-align:left;
}

.article-comments-tags
{
    margin:30px 0;
    font-size:13px;
    text-transform: uppercase;
    color:#333;
    letter-spacing: 4px;
}

.article-footer
{
    letter-spacing: 4px;
    font-size:13px;
}

.footer
{
    max-width:800px;
    margin:50px auto;
    text-align:center;
}